In [1]:
import pandas as pd

# LISTS IN PYTHON

In [58]:
#EXAMPLES:
x=[1,2,3,4,5]
y=['APPLE','ORANGE','GRAPES','BANANA']
z=[0.891,4,[33,44,55],'FLOAT','INTEGER',{1,2,3},(1,2,3),{"FRUITS":{'APPLE','ORANGE','GRAPES','BANANA'},"VEGETABLES":{"POTATAO",'TOMATO','ONIONS'}}]

A list can contain almost all data types:floating, integers, string, a list itself, sets, tupules, dictionary.

In [12]:
type(x),type(y),type(z)

(list, list, list)

# Python offers the following list functions:

sort(): Sorts the list in ascending order.
type(list): It returns the class type of an object.
append(): Adds a single element to a list.
extend(): Adds multiple elements to a list.
index(): Returns the first appearance of the specified value.
max(list): It returns an item from the list with max value.
min(list): It returns an item from the list with min value.
len(list): It gives the total length of the list.
list(seq): Converts a tuple into a list.
cmp(list1, list2): It compares elements of both lists list1 and list2.

# INDEXING AND SLICING

In [13]:
#LENGTH OF A LIST
len(x),len(y),len(z)

(5, 4, 8)

In [15]:
# index start from zero
x[0],x[4],y[3],z[4],z[2]

(1, 5, 'BANANA', 'INTEGER', [33, 44, 55])

In [18]:
# starting from first index upto last: list[start:stop] = start is included but stop is not.
x[1:],y[1:],z[1:]

([2, 3, 4, 5],
 ['ORANGE', 'GRAPES', 'BANANA'],
 [4,
  [33, 44, 55],
  'FLOAT',
  'INTEGER',
  {1, 2, 3},
  (1, 2, 3),
  {'FRUITS': {'APPLE', 'BANANA', 'GRAPES', 'ORANGE'},
   'VEGETABLES': {'ONIONS', 'POTATAO', 'TOMATO'}}])

In [72]:
# item at index 1 of a list ay index 2 in z (this rule can be applied only to a list, string inside a list)
z=[0.891,4,[33,44,55],'FLOAT','INTEGER',{1,2,3},(1,2,3),{"FRUITS":{'APPLE','ORANGE','GRAPES','BANANA'},"VEGETABLES":{"POTATAO",'TOMATO','ONIONS'}}]

#[33,44,55], 'FLOAT', (1,2,3), 

z[2][1],z[3][1],z[6][1]

(44, 'L')

In [71]:
#{1,2,3}
z[5][1]

TypeError: 'set' object is not subscriptable

NOTE: float, integers, sets, dictionary are not subscriptable.

In [21]:
# what a plus sign does if used between two lists: we can put items of separate lists in one list using plus operator.
# list_1[:] + list_2[:]
x[1:]+y[1:]+z[:2]

[2, 3, 4, 5, 'ORANGE', 'GRAPES', 'BANANA', 0.891, 4]

In [25]:
# we can even find an item's index: list.index(item)
x.index(1),y.index("ORANGE"), z.index({1,2,3})

(0, 1, 5)

In [26]:
# list inside a list: step 1. define an empty list: list[], step 2. list.append(list_1), list.append(list_2)
a=[1,2,3]
b=[11,22,33]
y=[]
y.append(a),y.append(b)
y

[[1, 2, 3], [11, 22, 33]]

# x.sort(*, key=None, reverse=False)

In [32]:
# sort() method : sorts the original list.
# in ascending order(by default): list.sort()
x.sort()
x

[1, 2, 3, 4, 5]

In [36]:
# in descending order: list.sort(reverse=True)
x=[4,55,2,0,1,7,9]
x.sort(reverse=True)
x

[55, 9, 7, 4, 2, 1, 0]

In [56]:
z=[{"name":"abc","age":"45","salary":35000},
   {"name":"pqr","age":"40","salary":30000},
   {"name":"mno","age":"37","salary":40000}]
def get_name(z):
    return z.get("name")
def get_age(z):
    return z.get("age")

z.sort(key=get_name)
z

[{'name': 'abc', 'age': '45', 'salary': 35000},
 {'name': 'mno', 'age': '37', 'salary': 40000},
 {'name': 'pqr', 'age': '40', 'salary': 30000}]

In [57]:
z.sort(key=get_age)
z

[{'name': 'mno', 'age': '37', 'salary': 40000},
 {'name': 'pqr', 'age': '40', 'salary': 30000},
 {'name': 'abc', 'age': '45', 'salary': 35000}]

In [51]:
#input list elements(integers) from user for a given length
#input():return type is string
x=[]
n=int(input("enter list size"))
for i in range(0,n):
    print("number at index i:" ,i, )
    element=int(input())
    x.append(element)
print("user list x is" ,x)

enter list size5
number at index i: 0
2
number at index i: 1
4
number at index i: 2
5
number at index i: 3
1
number at index i: 4
7
user list x is [2, 4, 5, 1, 7]

In [52]:
#input list elements(strings) from user for a given length
#input():return type is string
x=[]
n=int(input("enter list size"))
for i in range(0,n):
    print("element at index i:" ,i, )
    element=input()
    x.append(element)
print("user list x is" ,x)

enter list size5
element at index i: 0
2
element at index i: 1
ashi
element at index i: 2
7
element at index i: 3
7
element at index i: 4
1
user list x is ['2', 'ashi', '7', '7', '1']

In [53]:
#input details of a student:
x=[]
y=["name","age","subject","country","marks"]
n=len(y)
for i in range(0,n):
    print("enter:" ,y[i], )
    element=input()
    x.append(element)
print("user list x is" ,x)

enter: name
ASHI
enter: age
23
enter: subject
STATISTICS
enter: country
INDIA
enter: marks
82
user list x is ['ASHI', '23', 'STATISTICS', 'INDIA', '82']

In [59]:
#change age and marks to integers.
y.index("age"),y.index("marks")

(1, 4)

In [4]:
x=[]
y=["name","date_start"]
n=len(y)
z=[]
s=5
for i in range(0,s):
    for j in range(0,n):
        print("enter:" ,y[j], )
        element=input()
        x.append(element)
        print("user:", i, y[j] ,x)
    z.append(x)
    x=[]
print(z)

enter: name
a
user: 0 name ['a']
enter: date_start
2021-01-09
user: 0 date_start ['a', '2021-01-09']
enter: name
b
user: 1 name ['b']
enter: date_start
2021-01-30
user: 1 date_start ['b', '2021-01-30']
enter: name
c
user: 2 name ['c']
enter: date_start
2021-02-18
user: 2 date_start ['c', '2021-02-18']
enter: name
d
user: 3 name ['d']
enter: date_start
2021-03-06
user: 3 date_start ['d', '2021-03-06']
enter: name
e
user: 4 name ['e']
enter: date_start
2021-04-20
user: 4 date_start ['e', '2021-04-20']
[['a', '2021-01-09'], ['b', '2021-01-30'], ['c', '2021-02-18'], ['d', '2021-03-06'], ['e', '2021-04-20']]

In [39]:
df=pd.DataFrame(z,columns=("name","start_date"))

In [40]:
df

  name  start_date
0    a  2021-01-09
1    b  2021-01-30
2    c  2021-02-18
3    d  2021-03-06
4    e  2021-04-20

In [41]:
present_date=pd.to_datetime("2021-08-24")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        5 non-null      object
 1   start_date  5 non-null      object
dtypes: object(2)
memory usage: 104.0+ bytes

In [42]:
df['start_date']=pd.to_datetime(df['start_date'])

In [43]:
df['months']=df.agg({'start_date': lambda x:(present_date-x).days/30})

In [44]:
df

  name start_date    months
0    a 2021-01-09  7.566667
1    b 2021-01-30  6.866667
2    c 2021-02-18  6.233333
3    d 2021-03-06  5.700000
4    e 2021-04-20  4.200000